body {
	background-color: #272c35;
	color: white;
	font-family: monospace;
	text-align: center;
}

article {
	text-align: left;
	margin-right: 20%;
	margin-left: 20%;
	padding: 10px;
	background-color: #21242b;
}

button {
	background-color: #98c379;
	border: 1px solid #98c379;
	font-size: large;
	font-family: monospace;
	cursor: pointer;
}

pre {
	font-size: x-large;
}

article pre {
	white-space: pre-wrap;      
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap;     
    white-space: -o-pre-wrap;   
    word-wrap: break-word;      
}

p {
	font-size: large;
}

a {
	color: #e06c75;	
}

.left {
	text-align: left;
}


.no {
	background-color: #e06c75;
	border: 1px solid #e06c75;
}

#end {
	display: none;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#game,
#main {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 900px) {

	article {
		margin-left: 0px;
		margin-right: 0px;
	}
}